{% extends 'base2.html' %}
{% block content %}
{% load static %}

<!-- theme fixed shadow -->
<div>
    <div class="theme__shadow__circle"></div>
    <div class="theme__shadow__circle shadow__right"></div>
</div>
<!-- theme fixed shadow -->

<!-- breadcrumbarea__section__start -->
<div class="breadcrumbarea" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb__content__wraper">
                    <div class="breadcrumb__title">
                        <h2 class="heading">Page A propos</h2>
                    </div>
                    <div class="breadcrumb__inner">
                        <ul>
                            <li><a href="{% url 'home_5' %}">
                                    Accueil</a></li>
                            <li> A propos</li>
                        </ul>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="shape__icon__2">
        <img loading="lazy" class=" shape__icon__img shape__icon__img__1"
            src="{% static 'img/herobanner/herobanner__1.png' %}" alt="photo">
        <img loading="lazy" class=" shape__icon__img shape__icon__img__2"
            src="{% static 'img/herobanner/herobanner__2.png' %}" alt="photo">
        <img loading="lazy" class=" shape__icon__img shape__icon__img__3"
            src="{% static 'img/herobanner/herobanner__3.png' %}" alt="photo">
        <img loading="lazy" class=" shape__icon__img shape__icon__img__4"
            src="{% static 'img/herobanner/herobanner__5.png' %}" alt="photo">
    </div>

</div>
<!-- breadcrumbarea__section__end-->

<!-- aboutarea__5__section__start -->
<div class="aboutarea__5 sp_bottom_100 sp_top_100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6" data-aos="fade-up">
                <div class="aboutarea__5__img" data-tilt>
                    <img loading="lazy" src="{% static 'img/about/about_14.png'%}" alt="about">
                </div>
            </div>

            <div class="col-xl-6 col-lg-6" data-aos="fade-up">
                <div class="aboutarea__content__wraper__5">
                    <div class="section__title">
                        <div class="section__title__button">
                            <div class="default__small__button">Qui sommes-nous</div>
                        </div>
                        <div class="section__title__heading ">
                            <h2>Bienvenue sur le Centre d’apprentissage en ligne</h2>
                        </div>
                    </div>
                    <div class="about__text__5">
                        <p>
                                Rencontrez nos leaders et découvrez leurs propositions pour un apprentissage 
                                facile et constructif.
                        </p>
                    </div>

                    <div class="aboutarea__5__small__icon__wraper">
                        <div class="aboutarea__5__small__icon">
                            <img loading="lazy" src="{% static 'img/about/about_15.png'%}" alt="about">

                        </div>
                        <div class="aboutarea__small__heading">
                            <span>Des années d'experience dans la conceptions de cours </span> en ligne pour un but educatif
                        </div>

                    </div>




                    <div class="aboutarea__para__5">
                        <p>La plateforme d'éducation que nous vous proposons est une véritable 
                            révolution dans le monde de l'apprentissage. Que vous préfériez avancer
                             à votre propre rythme ou bénéficier d'une assistance personnalisée, 
                             notre école répond à tous vos besoins. Avec des cours solo adaptés à 
                             votre rythme et la possibilité de vous faire accompagner par un mentor *
                             expert ou de poser vos questions à un chatbot intelligent, vous avez 
                             tous les outils en main pour réussir.
                        </p>
                    </div>

                    <div class="aboutarea__bottom__button__5">
                        <a class="default__button" href="#"> En savoir plus
                            <i class="icofont-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- aboutarea__5__section__end -->

<!-- about__tap__section__start -->
<div class="abouttabarea sp_bottom_70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12" data-aos="fade-up">
                <ul class="nav  about__button__wrap" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="single__tab__link active" data-bs-toggle="tab" data-bs-target="#projects__one"
                            type="button">A propos</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="single__tab__link" data-bs-toggle="tab" data-bs-target="#projects__two"
                            type="button">Cours</button>
                    </li>
                    
                    <li class="nav-item" role="presentation">
                        <button class="single__tab__link" data-bs-toggle="tab" data-bs-target="#projects__four"
                            type="button">Education</button>
                    </li>


                </ul>
            </div>



            <div class="tab-content tab__content__wrapper" id="myTabContent" data-aos="fade-up">

                <div class="tab-pane fade active show" id="projects__one" role="tabpanel"
                    aria-labelledby="projects__one">
                    <div class="col-xl-12">
                        <div class="aboutarea__content__tap__wraper">
                            <p class="paragraph__1">Notre plateforme éducative se distingue comme l'une des 
                                meilleures grâce à son approche personnalisée et innovante. Elle offre une 
                                flexibilité inégalée, permettant aux apprenants de progresser à leur propre 
                                rythme tout en ayant accès à des ressources de haute qualité. Que ce soit à 
                                travers des cours solo ou l'accompagnement par un mentor, chaque utilisateur 
                                bénéficie d'une expérience d'apprentissage sur mesure. De plus, notre chatbot 
                                avancé est disponible à tout moment pour répondre aux questions et clarifier 
                                les concepts, garantissant ainsi une compréhension approfondie
                                . 
                            </p>
                            <div class="aboutarea__tap__heading">
                                <h5>Meilleur Site Educative</h5>
                                <p>Cette combinaison unique de technologie de pointe, d'accompagnement 
                                    humain, et de contenu pédagogique rigoureux fait de notre site un leader 
                                    incontesté dans le domaine de l'éducation en ligne.</p>
                            </div>

                            <div class="aboutarea__tap__heading">
                                <h5>Developpement de votre personne...</h5>
                                <p>Nous favorisons l'apprentissage autonome tout en intégrant des 
                                    technologies avancées pour une expérience interactive et engageante. 
                                    En outre, nous contribuons à l'acquisition de compétences essentielles 
                                    pour le monde moderne, préparant ainsi les apprenants à relever les 
                                    défis professionnels de demain. 
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="projects__two" role="tabpanel" aria-labelledby="projects__two">

                    <div class="gridarea__wraper gridarea__wraper__2 gridarea__course__list" data-aos="fade-up">
                        <div class="gridarea__img">
                            <a href=""><img loading="lazy"
                                    src="{% static 'img/grid/grid_1.png'%}" alt="grid"></a>
                            <div class="gridarea__small__button">
                                <div class="grid__badge">Données & Tech</div>
                            </div>
                            <div class="gridarea__small__icon">
                                <a href="{}"><i class="icofont-heart-alt"></i></a>
                            </div>

                        </div>
                        <div class="gridarea__content">
                            <div class="gridarea__list">
                                <ul>
                                    <li>
                                        <i class="icofont-book-alt"></i> 23 Leçons
                                    </li>
                                    <li>
                                        <i class="icofont-clock-time"></i> 1 hr 30 min
                                    </li>
                                </ul>
                            </div>
                            <div class="gridarea__heading">
                                <h3><a href="">Developper vos compétence et apprenez des autres
                                    </a></h3>
                            </div>
                            <div class="gridarea__price">
                                $32.00 <del>/ $67.00</del>
                                <span>Gratuit</span>

                            </div>
                            <div class="gridarea__bottom">
                                <div class="gridarea__bottom__left">
                                    <a href="{% url 'instructor_details'}">
                                        <div class="gridarea__small__img">
                                            <img loading="lazy" src="{% static 'img/grid/grid_small_1.jpg' %}"
                                                alt="grid">
                                            <div class="gridarea__small__content">
                                                <h6>Mirnsdo .H</h6>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="gridarea__star">
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <span>(44)</span>
                                    </div>
                                </div>

                                <div class="gridarea__details">
                                    <a href="">Plus de details
                                        <i class="icofont-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gridarea__wraper gridarea__wraper__2 gridarea__course__list" data-aos="fade-up">
                        <div class="gridarea__img">
                            <img loading="lazy" src="{% static 'img/grid/grid_2.png' %}" alt="grid">
                            <div class="gridarea__small__button">
                                <div class="grid__badge blue__color">Mecaniques</div>
                            </div>
                            <div class="gridarea__small__icon">
                                <a href="{}"><i class="icofont-heart-alt"></i></a>
                            </div>

                        </div>
                        <div class="gridarea__content">
                            <div class="gridarea__list">
                                <ul>
                                    <li>
                                        <i class="icofont-book-alt"></i> 23 Leçons
                                    </li>
                                    <li>
                                        <i class="icofont-clock-time"></i> 1 hr 30 min
                                    </li>
                                </ul>
                            </div>
                            <div class="gridarea__heading">
                                <h3><a href="">Comprendre la Notions de logiciel -A propos des Logiciels</a></h3>
                            </div>
                            <div class="gridarea__price">
                                $32.00 <del>/ $67.00</del>
                                <span>Gratuit.</span>

                            </div>
                            <div class="gridarea__bottom">
                                <div class="gridarea__bottom__left">
                                    <a href="{% url 'instructor_details'}">
                                        <div class="gridarea__small__img">
                                            <img loading="lazy" src="{% static 'img/grid/grid_small_1.jpg' %}"
                                                alt="grid">
                                            <div class="gridarea__small__content">
                                                <h6>Mirnsdo .H</h6>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="gridarea__star">
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <span>(44)</span>
                                    </div>
                                </div>

                                <div class="gridarea__details">
                                    <a href="">Voir les details
                                        <i class="icofont-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gridarea__wraper gridarea__wraper__2 gridarea__course__list" data-aos="fade-up">
                        <div class="gridarea__img">
                            <a href=""><img loading="lazy"
                                    src="{% static 'img/grid/grid_3.png' %}" alt="grid"></a>
                            <div class="gridarea__small__button">
                                <div class="grid__badge pink__color">Developpement</div>
                            </div>
                            <div class="gridarea__small__icon">
                                <a href="{}"><i class="icofont-heart-alt"></i></a>
                            </div>

                        </div>
                        <div class="gridarea__content">
                            <div class="gridarea__list">
                                <ul>
                                    <li>
                                        <i class="icofont-book-alt"></i> 23 Leçons
                                    </li>
                                    <li>
                                        <i class="icofont-clock-time"></i> 1 hr 30 min
                                    </li>
                                </ul>
                            </div>
                            <div class="gridarea__heading">
                                <h3><a href="">Qu'est ce que la chimie?
                                    </a></h3>
                            </div>
                            <div class="gridarea__price">
                                $32.00 <del>/ $67.00</del>
                                <span>Gratuit.</span>

                            </div>
                            <div class="gridarea__bottom">
                                <div class="gridarea__bottom__left">
                                    <a href="{% url 'instructor_details'}">
                                        <div class="gridarea__small__img">
                                            <img loading="lazy" src="{% static 'img/grid/grid_small_1.jpg' %}"
                                                alt="grid">
                                            <div class="gridarea__small__content">
                                                <h6>Mirnsdo .H</h6>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="gridarea__star">
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <span>(44)</span>
                                    </div>
                                </div>

                                <div class="gridarea__details">
                                    <a href="">Voir les details
                                        <i class="icofont-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="projects__four" role="tabpanel" aria-labelledby="projects__four">
                    <div class="col-xl-12">
                        <div class="aboutarea__content__tap__wraper">
                            <div class="aboutarea__tap__heading">
                                <h5>Notre Objectif -Education</h5>
                                <p>TNous croyons fermement que l'apprentissage ne se limite pas aux salles 
                                    de classe. Chacun a le potentiel de grandir et d'exceller dans son domaine, 
                                    et c'est là que nous intervenons. Notre objectif est de fournir un soutien 
                                    individualisé et pertinent qui répond aux besoins spécifiques de chaque 
                                    apprenant. Que vous cherchiez à acquérir de nouvelles compétences, à
                                    approfondir vos connaissances, ou à surmonter des défis spécifiques, 
                                    nous sommes là pour vous guider.
                                </p>
                            </div>

                            <div class="aboutarea__tap__heading">
                                <h5>Ce qu'on propose ?</h5>
                                <p>Notre plateforme est plus qu'un simple service de mentorat ; c'est une communauté
                                     où l'échange de connaissances et l'entraide sont au cœur de tout ce que nous 
                                     faisons. Nous réunissons des experts de divers domaines qui partagent leur savoir 
                                     avec passion, créant ainsi un environnement propice à l'apprentissage continu et à 
                                     l'épanouissement personnel.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>



            </div>





        </div>
    </div>
</div>
<!-- .about__tap__section__end -->

<div class="gridarea__2 sp_bottom_100" data-aos="fade-up">
    <div class="container">

        <div class="section__title">
            <div class="section__title__button">
                <div class="default__small__button">Cours Populaires</div>
            </div>
            <div class="section__title__heading">
                <h2>Choisissez le meilleur forfait
                   <br> pour votre apprentissage
                </h2>
            </div>
        </div>

        <div class="row about__course__slider__active row__custom__class">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 grid-item column__custom__class">
                <div class="gridarea__wraper">
                    <div class="gridarea__img">
                        <a href=""><img loading="lazy" src="{% static 'img/grid/grid_7.png'%}"
                                alt="grid"></a>
                        <div class="gridarea__small__button gridarea__small__button__1">
                            <div class="grid__badge">Data & Tech</div>
                        </div>
                        <div class="gridarea__small__icon">
                            <a href="{}"><i class="icofont-heart-alt"></i></a>
                        </div>

                    </div>
                    <div class="gridarea__content">
                        <div class="gridarea__list">
                            <ul>
                                <li>
                                    <i class="icofont-book-alt"></i> 23 Leçons
                                </li>
                                <li>
                                    <i class="icofont-clock-time"></i> 1 hr 30 min
                                </li>
                            </ul>
                        </div>
                        <div class="gridarea__heading">
                            <h3><a href="">Parcourez les base 
                                pour une comprehensions plus aisés
                            </a></h3>
                        </div>
                        <div class="gridarea__price">
                            $32.00 <del>/ $67.00</del>
                            <span> <del class="del__2">Gratuit</del></span>

                        </div>
                        <div class="gridarea__bottom">

                            <a href="{% url 'instructor_details'}">
                                <div class="gridarea__small__img">
                                    <img loading="lazy" src="{% static 'img/grid/grid_small_1.jpg'%}" alt="grid">
                                    <div class="gridarea__small__content">
                                        <h6>Micle Jhon</h6>
                                    </div>
                                </div>
                            </a>

                            <div class="gridarea__star">
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <span>(44)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 grid-item column__custom__class">
                <div class="gridarea__wraper">
                    <div class="gridarea__img">
                        <a href=""><img loading="lazy" src="{% static 'img/grid/grid_8.png'%}"
                                alt="grid"></a>
                        <div class="gridarea__small__button">
                            <div class="grid__badge">Données & Tech</div>
                        </div>
                        <div class="gridarea__small__icon">
                            <a href="{}"><i class="icofont-heart-alt"></i></a>
                        </div>

                    </div>
                    <div class="gridarea__content">
                        <div class="gridarea__list">
                            <ul>
                                <li>
                                    <i class="icofont-book-alt"></i> 23 Leçons
                                </li>
                                <li>
                                    <i class="icofont-clock-time"></i> 1 hr 30 min
                                </li>
                            </ul>
                        </div>
                        <div class="gridarea__heading">
                            <h3><a href="">Les fondements  de l'ordinateur
                                tout a savoir...
                            </a></h3>
                        </div>
                        <div class="gridarea__price">
                            $32.00 <del>/ $67.00</del>
                            <span> <del class="del__2">Gratuit</del></span>

                        </div>
                        <div class="gridarea__bottom">

                            <a href="{% url 'instructor_details'}">
                                <div class="gridarea__small__img">
                                    <img loading="lazy" src="{% static 'img/grid/grid_small_1.jpg'%}" alt="grid">
                                    <div class="gridarea__small__content">
                                        <h6>Micle Jhon</h6>
                                    </div>
                                </div>
                            </a>

                            <div class="gridarea__star">
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <span>(44)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 grid-item column__custom__class">
                <div class="gridarea__wraper">
                    <div class="gridarea__img">
                        <a href=""><img loading="lazy" src="{% static 'img/grid/grid_9.png'%}"
                                alt="grid"></a>
                        <div class="gridarea__small__button">
                            <div class="grid__badge">Données & Tech</div>
                        </div>
                        <div class="gridarea__small__icon">
                            <a href="{}"><i class="icofont-heart-alt"></i></a>
                        </div>

                    </div>
                    <div class="gridarea__content">
                        <div class="gridarea__list">
                            <ul>
                                <li>
                                    <i class="icofont-book-alt"></i> 23 Leçons
                                </li>
                                <li>
                                    <i class="icofont-clock-time"></i> 1 hr 30 min
                                </li>
                            </ul>
                        </div>
                        <div class="gridarea__heading">
                            <h3><a href="">Apprendre les notions de bases</a></h3>
                        </div>
                        <div class="gridarea__price">
                            $32.00 <del>/ $67.00</del>
                            <span> <del class="del__2">Gratuit</del></span>

                        </div>
                        <div class="gridarea__bottom">

                            <a href="{% url 'instructor_details'}">
                                <div class="gridarea__small__img">
                                    <img loading="lazy" src="{% static 'img/grid/grid_small_1.jpg'%}" alt="grid">
                                    <div class="gridarea__small__content">
                                        <h6>Micle Jhon</h6>
                                    </div>
                                </div>
                            </a>

                            <div class="gridarea__star">
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <span>(44)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 grid-item column__custom__class">
                <div class="gridarea__wraper">
                    <div class="gridarea__img">
                        <a href=""><img loading="lazy" src="{% static 'img/grid/grid_7.png'%}"
                                alt="grid"></a>
                        <div class="gridarea__small__button gridarea__small__button__1">
                            <div class="grid__badge">Données & Tech</div>
                        </div>
                        <div class="gridarea__small__icon">
                            <a href="{}"><i class="icofont-heart-alt"></i></a>
                        </div>

                    </div>
                    <div class="gridarea__content">
                        <div class="gridarea__list">
                            <ul>
                                <li>
                                    <i class="icofont-book-alt"></i> 23 Leçons
                                </li>
                                <li>
                                    <i class="icofont-clock-time"></i> 1 hr 30 min
                                </li>
                            </ul>
                        </div>
                        <div class="gridarea__heading">
                            <h3><a href="">Apprendre les bases de la programmation</a></h3>
                        </div>
                        <div class="gridarea__price">
                            $32.00 <del>/ $67.00</del>
                            <span> <del class="del__2">Gratuit</del></span>

                        </div>
                        <div class="gridarea__bottom">

                            <a href="{% url 'instructor_details'}">
                                <div class="gridarea__small__img">
                                    <img loading="lazy" src="{% static 'img/grid/grid_small_1.jpg'%}" alt="grid">
                                    <div class="gridarea__small__content">
                                        <h6>Micle Jhon</h6>
                                    </div>
                                </div>
                            </a>

                            <div class="gridarea__star">
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <i class="icofont-star"></i>
                                <span>(44)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<!-- testmonialarea__section__atart -->
<div class="testmonialarea sp_top_100 sp_bottom_110">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="section__title text-center">
                <div class="section__title__button">
                    <div class="default__small__button">Listes des cours</div>
                </div>
                <div class="section__title__heading heading__underline">
                    <h2><span>Temoignage</span> de nos clients</h2>
                </div>
            </div>
        </div>
        <div class="row row__custom__class testimonial__slider__active default__arrow" data-aos="fade-up">
            <div class="col-xl-6 column__custom__class">
                <div class="single__testimonial__wraper">
                    <div class="single__testimonial__inner">
                        <div class="testimonial__img">
                            <img loading="lazy" src="{% static 'img/testimonial/testi_1.png'%}" alt="testi">
                            <div class="testimonial__name">
                                <h6>Mirnsdo Jons</h6>
                                <span>Concepteur UI/UX</span>
                            </div>
                        </div>
                        <div class="testimonial__icon">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star dark__color"></i>
                        </div>
                    </div>

                    <div class="testimonial__content">
                        <p>Grâce à cette plateforme, j'ai pu progresser rapidement dans mon 
                            apprentissage. Les ressources sont claires, accessibles, et les mentors 
                            sont toujours disponibles pour répondre à mes questions. J'ai vraiment 
                            apprécié l'approche personnalisée qui m'a permis de me concentrer sur mes 
                            objectifs. Je recommande vivement cette plateforme à tous ceux qui souhaitent 
                            apprendre efficacement et à leur rythme. 
                        </p>
                    </div>


                </div>
            </div>
            <div class="col-xl-6 column__custom__class">
                <div class="single__testimonial__wraper">
                    <div class="single__testimonial__inner">
                        <div class="testimonial__img">
                            <img loading="lazy" src="{% static 'img/testimonial/testi_1.png'%}" alt="testi">
                            <div class="testimonial__name">
                                <h6>Mirnsdo Jons</h6>
                                <span>COncepteur UI/UX</span>
                            </div>
                        </div>
                        <div class="testimonial__icon">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star dark__color"></i>
                        </div>
                    </div>

                    <div class="testimonial__content">
                        <p>Grâce à cette plateforme, j'ai pu progresser rapidement dans mon 
                            apprentissage. Les ressources sont claires, accessibles, et les mentors 
                            sont toujours disponibles pour répondre à mes questions. J'ai vraiment 
                            apprécié l'approche personnalisée qui m'a permis de me concentrer sur mes 
                            objectifs. Je recommande vivement cette plateforme à tous ceux qui souhaitent 
                            apprendre efficacement et à leur rythme. 
                        </p>
                    </div>


                </div>
            </div>
            <div class="col-xl-6 column__custom__class">
                <div class="single__testimonial__wraper">
                    <div class="single__testimonial__inner">
                        <div class="testimonial__img">
                            <img loading="lazy" src="{% static 'img/testimonial/testi_1.png'%}" alt="testi">
                            <div class="testimonial__name">
                                <h6>Mirnsdo Jons</h6>
                                <span>Concepteur UI/UXr</span>
                            </div>
                        </div>
                        <div class="testimonial__icon">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star dark__color"></i>
                        </div>
                    </div>

                    <div class="testimonial__content">
                        <p>Grâce à cette plateforme, j'ai pu progresser rapidement dans mon 
                            apprentissage. Les ressources sont claires, accessibles, et les mentors 
                            sont toujours disponibles pour répondre à mes questions. J'ai vraiment 
                            apprécié l'approche personnalisée qui m'a permis de me concentrer sur mes 
                            objectifs. Je recommande vivement cette plateforme à tous ceux qui souhaitent 
                            apprendre efficacement et à leur rythme. 
                        </p>
                    </div>


                </div>
            </div>
            <div class="col-xl-6 column__custom__class">
                <div class="single__testimonial__wraper">
                    <div class="single__testimonial__inner">
                        <div class="testimonial__img">
                            <img loading="lazy" src="{% static 'img/testimonial/testi_1.png'%}" alt="testi">
                            <div class="testimonial__name">
                                <h6>Mirnsdo Jons</h6>
                                <span>Concepteur UI/UX</span>
                            </div>
                        </div>
                        <div class="testimonial__icon">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star dark__color"></i>
                        </div>
                    </div>

                    <div class="testimonial__content">
                        <p>Grâce à cette plateforme, j'ai pu progresser rapidement dans mon 
                            apprentissage. Les ressources sont claires, accessibles, et les mentors 
                            sont toujours disponibles pour répondre à mes questions. J'ai vraiment 
                            apprécié l'approche personnalisée qui m'a permis de me concentrer sur mes 
                            objectifs. Je recommande vivement cette plateforme à tous ceux qui souhaitent 
                            apprendre efficacement et à leur rythme. 
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- testmonialarea__section__end-->

<!-- brand__section__start -->
<div class="brandarea sp_bottom_60">
    <div class="container">
        <div class="row">
            <div class="col-xl-12" data-aos="fade-up">
                <div class="section__title text-center">

                    <div class="section__title__heading heading__underline">
                        <h2>S'appuiyez sur l'aide des mentor et profitez d'un 
                            <br>chatBot Integrer pour vous aider
                        </h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="brandarea__wraper" data-aos="fade-up">
                <div class="brandarea__img">
                    <a href="#"><img loading="lazy" src="{% static 'img/brand/brand_1.png'%}" alt="brand"></a>
                </div>
                <div class="brandarea__img">
                    <a href="#"><img loading="lazy" src="{% static 'img/brand/brand_2.png'%}" alt="brand"></a>
                </div>
                <div class="brandarea__img">
                    <a href="#"><img loading="lazy" src="{% static 'img/brand/brand_3.png'%}" alt="brand"></a>
                </div>
                <div class="brandarea__img">
                    <a href="{}"><img loading="lazy" src="{% static 'img/brand/brand_4.png'%}" alt="brand"></a>
                </div>
                <div class="brandarea__img">
                    <a href="{}"><img loading="lazy" src="{% static 'img/brand/brand_5.png'%}" alt="brand"></a>
                </div>
                <div class="brandarea__img">
                    <a href="{}"><img loading="lazy" src="{% static 'img/brand/brand_6.png'%}" alt="brand"></a>
                </div>
                <div class="brandarea__img">
                    <a href="{}"><img loading="lazy" src="{% static 'img/brand/brand_7.png'%}" alt="brand"></a>
                </div>
                <div class="brandarea__img">
                    <a href="{}"><img loading="lazy" src="{% static 'img/brand/brand_8.png'%}" alt="brand"></a>
                </div>
                <div class="brandarea__img">
                    <a href="{}"><img loading="lazy" src="{% static 'img/brand/brand_9.png'%}" alt="brand"></a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- brand__section__end -->




</main>

{% endblock %}






</body>

</html>