{% extends 'base.html' %}
{% block content %}
{% load static %}


<!-- Par Doha Primael -->
<div class="breadcrumbarea">

    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb__content__wraper" data-aos="fade-up">
                    <div class="breadcrumb__title">
                        <h2 class="heading">Courses List</h2>
                    </div>
                    <div class="breadcrumb__inner">
                        <ul>
                            <li><a href="{% url 'home_5' %}">
                                    Home</a></li>
                            <li>Courses List</li>
                        </ul>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="shape__icon__2">
        <img loading="lazy" class=" shape__icon__img shape__icon__img__1"
            src="{% static 'img/herobanner/herobanner__1.png' %}" alt="photo">
        <img loading="lazy" class=" shape__icon__img shape__icon__img__2"
            src="{% static 'img/herobanner/herobanner__2.png' %}" alt="photo">
        <img loading="lazy" class=" shape__icon__img shape__icon__img__3"
            src="{% static 'img/herobanner/herobanner__3.png' %}" alt="photo">
        <img loading="lazy" class=" shape__icon__img shape__icon__img__4"
            src="{% static 'img/herobanner/herobanner__5.png' %}" alt="photo">
    </div>

</div>
<!-- breadcrumbarea__section__end-->

<!-- course__section__start   -->
<div class="coursearea sp_top_100 sp_bottom_100">
    <div class="container">

        <div class="row">
            <div class="col-xl-12">
                <div class="course__text__wraper" data-aos="fade-up">
                    <div class="course__text">
                        <p>Showing 1–12 of 54 Results</p>
                    </div>
                    <div class="course__icon">
                        <ul class="nav property__team__tap" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a href="#" class="single__tab__link" data-bs-toggle="tab"
                                    data-bs-target="#projects__one"><i class="icofont-layout"></i>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#" class="single__tab__link active" data-bs-toggle="tab"
                                    data-bs-target="#projects__two"><i class="icofont-listine-dots"></i>
                                </a>
                            </li>
                            <li class="short__by__new">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected> Short by New</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-xl-12">

                <div class="tab-content tab__content__wrapper" id="myTabContent">


                    <div class="tab-pane fade" id="projects__one" role="tabpanel" aria-labelledby="projects__one">

                        <div class="row">


                            <h1>Liste des Cours</h1>
                            <ul>
                                {% for course in courses %}
                                <li>
                                    <h2>{{ course.title }}</h2>
                                    <p><strong>Description:</strong> {{ course.description }}</p>
                                    <p><strong>Instructeur:</strong> {{ course.instructor.username }}</p>
                                    <p><strong>Catégorie:</strong> {{ course.category.name }}</p>
                                    <p><strong>Prix:</strong> {{ course.price }} FCFa</p>
                                    <p><strong>Points Totaux:</strong> {{ course.total_points }}</p>
                                    <p><strong>Date de création:</strong> {{ course.created_at }}</p>
                                    {% if course.image %}
                                    <img src="{{ course.image.url }}" alt="{{ course.title }}"
                                        style="max-width: 300px; height: auto;">
                                    {% else %}
                                    <p><em>Pas d'image disponible</em></p>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>







                        </div>

                    </div>

                    {% for course in courses %}
                    <div class="tab-pane fade active show" id="projects__two" role="tabpanel"
                        aria-labelledby="projects__two">
                        
                        <div class="gridarea__wraper gridarea__wraper__2 gridarea__course__list" data-aos="fade-up">
                            <div class="gridarea__img">
                                <a href="">
                                    {% if course.image %}
                                    <img loading="lazy"
                                    src="{{ course.image.url }}" alt="{{ course.title }}"> </a> <!-- Utilise l'image du cours -->
                                    {% else %}
                                    <p>Aucune image disponible.</p>
                                {% endif %}
                                <div class="gridarea__small__button">
                                    <div class="grid__badge pink__color" style="font-size: 10px;">{{ course.title }}</div> <!-- Titre du cours -->
                                </div>
                                <div class="gridarea__small__icon">
                                    <a href="#"><i class="icofont-heart-alt"></i></a> <!-- Icône de cœur (favori) -->
                                </div>
                            </div>
                            <div class="gridarea__content">
                                <div class="gridarea__list">
                                    <ul>
                                        <li>
                                            <i class="icofont-book-alt"></i> {{ course.lesson_count }} Lessons <!-- Remplace avec le nombre de leçons -->
                                        </li>
                                        <li>
                                            <i class="icofont-clock-time"></i> {{ course.duration }} <!-- Durée du cours -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="gridarea__heading">
                                    <h3><a href="">{{ course.description }}</a></h3> <!-- Description du cours -->
                                </div>
                                <div class="gridarea__price">
                                    {{ course.price }} FCFA<del></del>
                                    {% if course.is_free %}
                                        <span>Free</span> <!-- Indique si le cours est gratuit -->
                                    {% endif %}
                                </div>
                                <div class="gridarea__bottom">
                                    <div class="gridarea__bottom__left">
                                        <a href="">
                                            <div class="gridarea__small__img" style="width: 100px; height: 50px;">
                                                <img loading="lazy" src="{{ course.instructor.image.url }}" alt="{{ course.instructor.username }}" style="width: 30px; height: 30px;">
                                                <div class="gridarea__small__content">
                                                    <h6>{{ course.instructor.username }}</h6> <!-- Nom de l'instructeur -->
                                                </div>
                                            </div>
                                        </a>
                                        <div class="gridarea__star">
                                                        <i class="icofont-star"></i>
                                                        <i class="icofont-star"></i>
                                                        <i class="icofont-star"></i>
                                                        <i class="icofont-star"></i>
                                                        <span>{{ course.total_points }}</span>
                                        </div>
                                    
                                        
                                    </div>
                                    <div class="gridarea__details">
                                        <a href="{% url 'courses_details' course.id %}">Pus de détails
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    
                    </div>
                    {% endfor %}

                </div>



            </div>


            <div class="main__pagination__wrapper" data-aos="fade-up">
                <ul class="main__page__pagination">
                    <li><a class="disable" href="#"><i class="icofont-double-left"></i></a></li>
                    <li><a class="active" href="#">1</a></li>
                    <li> <a href="{}">2</a></li>
                    <li> <a href="{}">3</a></li>
                    <li> <a href="{}"><i class="icofont-double-right"></i></a></li>
                </ul>
            </div>

        </div>

    </div>
</div>
<!-- course__section__end   -->

{% endblock %}


</body>

</html>