{% extends 'base2.html' %}
{% block content %}
{% load static %}


        <!-- theme fixed shadow -->
        <div>
            <div class="theme__shadow__circle"></div>
            <div class="theme__shadow__circle shadow__right"></div>
        </div>
        <!-- theme fixed shadow -->
        <script>
            function playVideo(videoUrl) {
                const videoPlayer = document.getElementById('video-player');
                videoPlayer.src = videoUrl;
                videoPlayer.load();
                videoPlayer.play();
            }
    
            window.onload = function() {
                const videoUrl = "{{ video_url }}";
                if (videoUrl) {
                    playVideo(videoUrl);
                }
            }
        </script>

        <!-- tution__section__start -->
        <div class="tution sp_bottom_100 sp_top_50">
            <div class="container-fluid full__width__padding">
                <div class="row">
                    <h2 class="heading">{{course.title}}</h2>
                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                        
                        <div class="accordion content__cirriculum__wrap" id="accordionExample">
                            {% if videos %}
                            {% for video in videos %}
                            <div class="accordion-item">
                               
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        {{video.title}}
                                    </button>
                                </h2>
                                
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        
                                        <div class="scc__wrap">
                                            <div class="scc__info">
                                                <i class="icofont-video-alt"></i>
                                                <h5><a href="{% url 'lesson'}"><span>{{ video.title }}</span></a></h5>
                                            </div>
                                            <div class="icofont-clock-time">
                                                <strong>{{ video.duration }}</strong>
                                                <button class="question" class="icofont-eye"onclick="playVideo('{{ video.video_file.url }}')">Regarder</button>                                          </div>
                                        </div>
                                        
                                        <div class="scc__wrap">
                                            <div class="scc__info">
                                                <i class="icofont-video-alt"></i>
                                                <h5><a href="{% url 'lesson_2'}"><span>Cours en Ligne</span></a></h5>
                                            </div>
                                            <div class="scc__meta">
                                                <strong>5.00</strong>
                                               <a href="{% url 'lesson_2'}"><span class="question"><i
                                                            class="icofont-eye"></i> Aperçu</span></a>

                                            </div>
                                        </div>
                                        <div class="scc__wrap">
                                            <div class="scc__info">
                                                <i class="icofont-file-text"></i>
                                                <h5> <a href="lesson-course-materials.html"><span>Matériel de cours</span></a></h5>
                                            </div>
                                        </div>
                                        <div class="scc__wrap">
                                            <div class="scc__info">
                                                <i class="icofont-audio"></i>
                                                <h5> <a href="lesson-quiz.html"><span>Quiz d'été</span></a></h5>
                                            </div>
                                        </div>

                                        <div class="scc__wrap">
                                            <div class="scc__info">
                                                <i class="icofont-file-text"></i>
                                                <h5><a href="lesson-assignment.html"><span>Missions</span></a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                                        {% else %}
        <p>Il n'y a pas encore de video pour ce cours.</p>
    {% endif %}
                            
                            
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                        <div class="lesson__content__main">
                            <div class="lesson__content__wrap">
                                <h3>{{ video_title }}</h3>
                                <span><a href="">Fermé</a></span>
                            </div>

                            <div>
                                
                                <video id="video-player" controls width="820">
                                    <source src="" type="video/mp4">
                                    Votre navigateur ne prend pas en charge la balise vidéo.
                                </video>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- tution__section__end -->


        <!-- footer__section__start -->
        {% endblock %}
</body>

</html>