
{% extends 'base.html' %}
{% block content %}
{% load static %}
        <!-- theme fixed shadow -->
        <div>
            <div class="theme__shadow__circle"></div>
            <div class="theme__shadow__circle shadow__right"></div>
        </div>
        <!-- theme fixed shadow -->

        <!-- breadcrumbarea__section__start -->

        <div class="breadcrumbarea">

            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__content__wraper" data-aos="fade-up">
                            <div class="breadcrumb__title">
                                <h2 class="heading">Se connecter</h2>
                            </div>
                            <div class="breadcrumb__inner">
                                <ul>
                                    <li><a href="{% url 'index'}">
Home</a></li>
                                    <li>Se connecter</li>
                                </ul>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

            <div class="shape__icon__2">
                <img loading="lazy"  class=" shape__icon__img shape__icon__img__1" src="{% static 'img/herobanner/herobanner__1.png' %}"
 alt="photo">
                <img loading="lazy"  class=" shape__icon__img shape__icon__img__2" src="{% static 'img/herobanner/herobanner__2.png' %}"
 alt="photo">
                <img loading="lazy"  class=" shape__icon__img shape__icon__img__3" src="{% static 'img/herobanner/herobanner__3.png' %}"
 alt="photo">
                <img loading="lazy"  class=" shape__icon__img shape__icon__img__4" src="{% static 'img/herobanner/herobanner__5.png' %}"
 alt="photo">
            </div>

        </div>
        <!-- breadcrumbarea__section__end-->

        <!-- login__section__start -->
        <div class="loginarea sp_top_100 sp_bottom_100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-md-8 offset-md-2" data-aos="fade-up">
                        <ul class="nav  tab__button__wrap text-center" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="single__tab__link active" data-bs-toggle="tab" data-bs-target="#projects__one" type="button">Se connecter</button>
                            </li>
                        </ul>
                    </div>


                    <div class="tab-content tab__content__wrapper" id="myTabContent" data-aos="fade-up">

                        <div class="tab-pane fade active show" id="projects__one" role="tabpanel" aria-labelledby="projects__one">
                            <div class="col-xl-8 col-md-8 offset-md-2">
                                <div class="loginarea__wraper">
                                    <form method="POST">
                                        {% csrf_token %}
                                        
                                        <div class="form-outline mb-4">
                                            {{ form.new_password1 }}
                                            <label class="form-label" for="new_password1">Nouveau mot de passe</label>
                                            <div class="text-danger">{{ form.new_password1.errors }}</div>
                                        </div>
                                        
                                        <div class="form-outline mb-4">
                                            {{ form.new_password2 }}
                                            <label class="form-label" for="new_password2">Confirmer le mot de passe</label>
                                            <div class="text-danger">{{ form.new_password2.errors }}</div>
                                        </div>
                                        
                                        <button type="submit" class="btn btn-primary btn-block">Réinitialiser</button>
                                    </form>
                                
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="projects__two" role="tabpanel" aria-labelledby="projects__two">
                            <div class="col-xl-8 offset-md-2">
                                <div class="loginarea__wraper">
                                   


                                    


                                </div>
                            </div>

                        </div>



                    </div>

                </div>

                <div class=" login__shape__img educationarea__shape_image">
                    <img loading="lazy"  class="hero__shape hero__shape__1" src="{% static 'img/education/hero_shape2.png' %}"
 alt="Shape">
                    <img loading="lazy"  class="hero__shape hero__shape__2" src="{% static 'img/education/hero_shape3.png' %}"
 alt="Shape">
                    <img loading="lazy"  class="hero__shape hero__shape__3" src="{% static 'img/education/hero_shape4.png' %}"
 alt="Shape">
                    <img loading="lazy"  class="hero__shape hero__shape__4" src="{% static 'img/education/hero_shape5.png' %}"
 alt="Shape">
                </div>


            </div>
        </div>

        <!-- login__section__end -->

         {% endblock %}


    </main>





    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem("theme-color") === "dark" || (!("theme-color" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
          document.getElementById("light--to-dark-button")?.classList.add("dark--mode");
        } 
        if (localStorage.getItem("theme-color") === "light") {
          document.getElementById("light--to-dark-button")?.classList.remove("dark--mode");
        } 
      </script>


</body>

</html>
                               