{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- breadcrumbarea_section_start -->



<!-- dashboardarea_area_start  -->
<div class="dashboardarea sp_bottom_100">
    <!-- ======================Tableau de bord pour l'apprenant========================= -->
    {% include 'sidebar.html' %}


    <div class="dashboard">
        <div class="container-fluid full_width_padding">
            <div class="row">

                <!-- ==================== pour la table de gauche======================================= -->
                {% include 'dashboard__inner.html' %}


                <div class="col-xl-9 col-lg-9 col-md-12">

                    <div class="dashboard__content__wraper">
                        <div class="dashboard__section__title">
                            <h4>Estivale</h4>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-12 col-12">
                                <div class="dashboard__single__counter">
                                    <div class="counterarea__text__wraper">
                                        <div class="counter__img">
                                            <img loading="lazy" src="{% static 'img/counter/counter__1.png' %}"
                                                alt="counter">
                                        </div>
                                        <div class="counter__content__wraper">
                                            <div class="counter__number">
                                                <span class="counter">{{ enrolled_courses.count }}</span>+

                                            </div>
                                            <p>Cours Inscris</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-12 col-12">
                                <div class="dashboard__single__counter">
                                    <div class="counterarea__text__wraper">
                                        <div class="counter__img">
                                            <img loading="lazy" src="{% static 'img/counter/counter__2.png' %}"
                                                alt="counter">
                                        </div>
                                        <div class="counter__content__wraper">
                                            <div class="counter__number">
                                                <span class="counter">{{ active_courses.count }}</span>+

                                            </div>
                                            <p>Cours actifs</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-12 col-12">
                                <div class="dashboard__single__counter">
                                    <div class="counterarea__text__wraper">
                                        <div class="counter__img">
                                            <img loading="lazy" src="{% static 'img/counter/counter__3.png' %}"
                                                alt="counter">
                                        </div>
                                        <div class="counter__content__wraper">
                                            <div class="counter__number">
                                                <span class="counter">{{ completed_courses.count }}</span>

                                            </div>
                                            <p>Cours complets</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


























                    <!-- ====================pour la table du bar=============================================== -->
                    <div class="dashboard__content__wraper">
                        <div class="dashboard__section__title">
                            <h4>Retours</h4>
                            <a href="{% url 'course' %}">Voir plus...</a>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="dashboard__table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Intitulé du cours</th>
                                                <th>Inscrits</th>
                                                <th>Notation</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            {% for feedback in feedbacks %}
                                            <tr>
                                                <th> <a href="{% url 'course_detail' feedback.course.id %}">{{
                                                        feedback.course.title }}</a> </th>
                                                <td>{{ feedback.course.students.count }}</td>
                                                <td>
                                                    <div class="dashboard__table__star">
                                                        {% for i in range_five %}
                                                        {% if i <= feedback.rating %} <i class="icofont-star"></i>
                                                            {% else %}
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24" fill="none"
                                                                stroke="currentColor" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                class="feather feather-star">
                                                                <polygon
                                                                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                                                </polygon>
                                                            </svg>
                                                            {% endif %}
                                                            {% endfor %}
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<!-- dashboardarea_area_end   -->





{% endblock %}