{% extends 'base.html' %}
{% block content %}
{% load static %}

        <!-- dashboardarea__menu__start   -->
        <div class="dashboardarea sp_bottom_100">
            <!-- ======================Tableau de bord pour l'apprenant========================= -->
        {% include 'sidebar.html' %}

            <div class="dashboard">
                <div class="container-fluid full__width__padding">
                    <div class="row">
                        <!-- ==================== pour la table de gauche======================================= -->
            {% include  'dashboard__inner.html' %}  

                        <div class="col-xl-9 col-lg-9 col-md-12">
                            <div class="dashboard__content__wraper">
                                <div class="dashboard__section__title">
                                    <h4>Missions</h4>
                                </div>

                                <div class="row">
                                    <div class="col-xl-6 col-lg-4 col-md-4 col-12">
                                        <div class="dashboard__select__heading">
                                            <span>Cours</span>
                                        </div>
                                        <div class="dashboard__selector">
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Tout</option>
                                                <option value="1">Developpeur Web</option>
                                                <option value="2">Graphisme</option>
                                                <option value="3">Anglais</option>
                                                <option value="4">Parlé l'Anglais</option>
                                                <option value="5">Art & Peinture</option>
                                                <option value="6">Developpement d'Application</option>
                                                <option value="7">Application web</option>
                                                <option value="7">Developpeur PHP</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="dashboard__select__heading">
                                            <span>À DÉCOUVERT PAR</span>
                                        </div>
                                        <div class="dashboard__selector">
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Faire défaut</option>
                                                <option value="1">Tendances</option>
                                                <option value="2">Prix : décroissant</option>
                                                <option value="3">Prix : du plus bas au plus haut</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="dashboard__select__heading">
                                            <span>SHORT PAR OFFRE</span>
                                        </div>
                                        <div class="dashboard__selector">
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Gratuit</option>
                                                <option value="1">payant</option>
                                                <option value="2">premimum</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-40">
                                <div class="row">

                                    <div class="col-xl-12">
                                        <div class="dashboard__table table-responsive">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Nom de l’attribution</th>
                                                        <th>Total des notes</th>
                                                        <th>Total des soumissions</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>

                                                            <span>Écrire le 5</span>
                                                            <p>cours: <a href="{}">Fondamentales</a></p>
                                                        </th>
                                                        <td>
                                                            <p>80</p>
                                                        </td>
                                                        <td>
                                                            <p>2</p>
                                                        </td>


                                                        <td>
                                                            <div class="dashboard__button__group">

                                                                <a class="dashboard__small__btn__2" href="#">
                                                                    <i class="icofont-edit"></i>Editer
                                                                </a>
                                                                <a class="dashboard__small__btn__2 dashboard__small__btn__3"
                                                                    href="#">
                                                                    <i class="icofont-paper-plane"></i> Soumettre
                                                                </a>

                                                                <a class="dashboard__small__btn__2" href="#">
                                                                    <i class="icofont-download"></i> Télécharger
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr class="dashboard__table__row">
                                                        <th>

                                                            <span>Ecrire 55</span>
                                                            <p>cours: <a href="{}">Fondamentales</a></p>
                                                        </th>
                                                        <td>
                                                            <p>80</p>
                                                        </td>
                                                        <td>
                                                            <p>2</p>
                                                        </td>


                                                        <td>
                                                            <div class="dashboard__button__group">

                                                                <a class="dashboard__small__btn__2" href="#">
                                                                    <i class="icofont-edit"></i>Editer
                                                                </a>
                                                                <a class="dashboard__small__btn__2 dashboard__small__btn__3"
                                                                    href="#">
                                                                    <i class="icofont-paper-plane"></i> Soumettre
                                                                </a>

                                                                <a class="dashboard__small__btn__2" href="#">
                                                                    <i class="icofont-download"></i> Télécharger
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>

                                                            <span>Ecrire 5</span>
                                                            <p>cours: <a href="{}">Fondamentale</a></p>
                                                        </th>
                                                        <td>
                                                            <p>80</p>
                                                        </td>
                                                        <td>
                                                            <p>2</p>
                                                        </td>



                                                        <td>
                                                            <div class="dashboard__button__group">

                                                                <a class="dashboard__small__btn__2" href="#">
                                                                    <i class="icofont-edit"></i>Editer
                                                                </a>
                                                                <a class="dashboard__small__btn__2 dashboard__small__btn__3"
                                                                    href="#">
                                                                    <i class="icofont-paper-plane"></i> Soumettre
                                                                </a>

                                                                <a class="dashboard__small__btn__2" href="#">
                                                                    <i class="icofont-download"></i> Télécharger
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr class="dashboard__table__row">
                                                        <th>

                                                            <span>Ecrire Le 5</span>
                                                            <p>cours: <a href="{}">Fondamentales</a></p>
                                                        </th>
                                                        <td>
                                                            <p>80</p>
                                                        </td>
                                                        <td>
                                                            <p>2</p>
                                                        </td>


                                                        <td>
                                                            <div class="dashboard__button__group">

                                                                <a class="dashboard__small__btn__2" href="#">
                                                                    <i class="icofont-edit"></i>Editer
                                                                </a>
                                                                <a class="dashboard__small__btn__2 dashboard__small__btn__3"
                                                                    href="#">
                                                                    <i class="icofont-paper-plane"></i> Soumettre
                                                                </a>

                                                                <a class="dashboard__small__btn__2" href="#">
                                                                    <i class="icofont-download"></i> Télécharger
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- dashboardarea__menu__end   -->


        <!-- footer__section__start -->
{% endblock %}